body {
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;

}



h2 {
    color: white;
    font-size: 18px;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
}

h4 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

.bio {
    color: white;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.outline {
    border: 1px solid;
    border-color: black;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 18px;
    }

    .bio {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 14px;
    }

    .bio {
        font-size: 11px;
    }

    .about {
        width: 85%;
    }

}

.about-container {
    background: url('reallyGoodMicBlackened.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;

}



.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 40;
}



.grey {
    height: 3px;
    background-color: white;
    border: none;
    width: 100px;
}

.yellow {
    border-top: 5px double #8C0000;
    width: 250px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}



.clear {
    clear: both;
}



.algorithm_descriptions {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.full-width {
    width: 100%;
}

.skills-and-tools {
    max-width: 400px;
    margin: 40px auto;
}

.icons {
    text-align: center;
    margin: 30px 0;
}

.contact-me {
    background-color: #202020;
    height: 350px;
    padding-top: 30px;
}

.contact-headline {
    color: white;

}

.contact-info {
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

.contact-link {
    color: white;
    font-weight: bold;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #62738D;
}



li {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-left: 30px;
}

.hire-me {
    border-style: solid;
    border-color: white;
}

.apps {
    color: black;
}

.apps:hover {
    color: #62738D;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');

}

.booyah-box {
    background-color: #F5F5F5;
    padding-bottom: 10px;
}

.box {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}