body {
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 0;

}


.icon-linked {

    position: relative;
    float: middle;
    width: 72px;
    height: 72px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;


}

.icon-git {
    position: relative;
    float: middle;
    width: 60px;
    height: 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;

}



h2 {
    color: white;
    font-size: 50px;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin-top: 20px;
}

h4 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 22px;
}

.bio {
    color: white;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.descriptions {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.outline {
    border-top: 1px solid;
    border-top-color: black;
}

.a {
    padding-top: 10px;
    background-color: #F5F5F5;
}

.b {
    padding-top: 10px;
    background-color: #F5F5F5;
}

.c {
    padding-top: 10px;
    background-color: white;
}

.d {
    padding-top: 10px;
    background-color: white;
}

.contact-info {
    color: white;
    font-size: 22px;
    margin-top: 30px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-container {
    background: url('reallyGoodMicBlackened.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;

}


.git {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;



}



.git-text {
    font-size: 12px;
    color: black;
}



@media(max-width: 500px) {



    .extra_content {
        display: none;
    }

    .btn {

        background-color: black;
        border-color: white;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
    }

    #read_more {
        display: block;
        color: white;

    }

    .icon-linked {
        width: 40px;
        height: 40px;
    }

    .icon-git {
        width: 34px;
        height: 34px;
    }


}

@media(max-width: 576px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .contact-info {
        font-size: 12px;
    }

    .bio {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .about {
        width: 85%;
    }



    .b {
        background-color: white;

    }

    .c {
        background-color: #F5F5F5;
    }

}

.read_more {
    display: none;

}

.show {
    display: block !important;
}



@media screen and (max-width: 768px) {
    .about-container {
        background: url(reallyGoodMicBlackenedandsmaller.jpg);
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    .contact-info {
        font-size: 18px;
    }

    .bio {
        font-size: 16px;
    }

    p {
        font-size 22px;
    }


}







.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 40;
}



.grey {
    height: 3px;
    background-color: white;
    border: none;
    width: 100px;
}

.yellow {
    border-top: 5px double #8C0000;
    width: 250px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}



.clear {
    clear: both;
}



.algorithm_descriptions {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}


.full-width {
    width: 100%;
}

.skills-and-tools {
    max-width: 400px;
    margin: 40px auto;
}

.icons {
    text-align: center;
    margin: 30px 0;
}

.contact-me {
    background-color: #202020;
    height: 350px;
    padding-top: 30px;
}

.contact-headline {
    color: white;

}



.contact-link {
    color: white;
    font-weight: bold;

}

.contact-link:hover {
    color: #62738D;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #62738D;
}



li {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-left: 30px;
}

.hire-me {
    border-style: solid;
    border-color: white;
}

.apps {
    color: black;
}

.apps:hover {
    color: #62738D;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');

}

.sticky-top {
    position: sticky;
    background-color: white;
}


.booyah-box {

    background-color: #F5F5F5;
    padding-bottom: 10px;
}